* {
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: url("https://source.unsplash.com/random/1920x1080/?landscape") #282c34;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  position: fixed;
  top: 10%;
  left: 3%;
}

.title-text {
  position: relative;
  font-size: 200%;
  background-color: rgb(211, 211, 211, 0.8);
  padding: 8px;
}
