* {
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: url("https://source.unsplash.com/collection/827743/1920x1080") #282c34;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  margin-bottom: 20px;
}

.title-box {
  left: 3%;
  position: fixed;
  top: 10%;
}

.title-text {
  position: relative;
  font-size: 60px;
}

.left-grey-box {
  left: 3%;
  position: fixed;

  background-color: rgb(211, 211, 211, 0.5);
  padding: 20px;
}

.right-grey-box {
  right: 3%;
  position: fixed;

  background-color: rgb(211, 211, 211, 0.5);
  padding: 20px;
}

.center-grey-box {
  background-color: rgb(211, 211, 211, 0.5);
  padding: 20px;
}

#user-list {
  top: 30%;
}

#made-by {
  bottom: 5%;
  font-size: 20px;
  padding: 10px;
}

.clearfix {
  clear: both;
}

#nickname-box {
  float: left;
}

#nickname.input-box {
  font-size: 40px;
  padding: 8px;
  margin-bottom: 20px;
}

#session-id.input-box {
  padding: 6px;
  font-size: 21px;
}

.input-error {
  background-color: rgb(255, 179, 179);
}

.option-title {
  padding-bottom: 15px;
}

.main-button {
  font-size: 21px;
  padding: 6px;
}

.button-option {
  background-color: rgb(211, 211, 211, 0.5);
  padding: 16px;
}

.float-left {
  margin-right: 20px;
  float: left;
  width: 42%;
}

.float-right {
  float: right;
  width: 42%;
}

.map-container {
  z-index: 5;
  position: absolute;
  float: right;
  bottom: 0px;
  right: 0px;
  height: 40%;
  width: 35%;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
}

#submit-estimate-button {
  z-index: 5;
  position: absolute;
  float: right;
  bottom: 0px;
  right: 0px;
  height: 30px;
  width: 100%;
  padding: 0px;
}

#minimize-map-button {
  z-index: 6;
  position: absolute;
  height: 25px;
  width: 25px;
  padding: 0px;
  left: 0px;
}

#maximize-map-button {
  z-index: 5;
  position: absolute;
  height: 25px;
  width: 25px;
  padding: 0px;
  bottom: 0px;
  right: 0px;
}

#map {
  height: calc(100% - 30px);
}

#nickname {
  font-size: 55px;
  margin-bottom: 20px;
}

#pregame-host {
  width: 600px;
}

#start-game {
  margin-top: 20px;
}

#pregame {
  width: 600px;
}

h3 {
  font-size: 35px;
}

#results-table {
  margin-top: 15px;
}

#new-game-button {
  margin-top: 20px;
  margin-right: 10px;
}

table, th, td {
  border: 1px black solid;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}
