* {
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: url("https://source.unsplash.com/random/1920x1080/?landscape,hd") #282c34;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  margin-bottom: 5%;
}

.title {
  left: 3%;
  position: fixed;
  top: 10%;
}

.title-text {
  position: relative;
  font-size: 200%;
}

.left-grey-box {
  left: 3%;
  position: fixed;
  background-color: rgb(211, 211, 211, 0.5);
  padding: 1%;
}

#nickname.input-box {
  font-size: 150%;
  padding: 8px;
  margin-bottom: 20px;
}

.input-error {
  background-color: rgb(255, 179, 179);
}

#session-id.input-box {
  padding: 6px;
  font-size: 80%;
  width: 150px;
}

#session-table {
  width: 100%;
}

.option-title {
  padding-bottom: 15px;
}

 h3 {
   font-size: 130%;
 }

.main-button {
  font-size: 80%;
  padding: 6px;
}

.table-spacer {
  width: 20px;
}

.button-option {
  background-color: rgb(211, 211, 211, 0.5);
  padding: 3%;
}
